<!doctype html>

<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Shane Lister : Skills</title>
  <meta name="description" content="description">
  <meta name="author" content="Shane Lister">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.min.css">
  
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  {{> header}}
  
  <main>
    
  </main>
  
  {{> footer}}

  <script src="js/main.min.js"></script>
  <script src="js/skills-page.min.js"></script>
  
</body>
</html>